.main {
    display: flex;
    justify-content: space-between;
  }

  .welcometitle {
    text-align: center;
    flex-grow: 1;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
  }