.loginmain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.loginlogo img {
    width: 150px;
}


.loginlogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginlogo h1 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.loginbox {
    background-color: white;
    border-radius: 10px;
    padding: 30px 20px 30px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Blurred shadow */
}
