.main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    margin: 0;
  }
    
  a:hover {
    color: white;
  }

  .navigation {
    background-color: #292974;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
  }
  
  .items {
    margin-top: 20px;
    align-items: center;
  }
  
  .items img {
    height: 25px;
  }
  
  .item {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 7px;
    margin-right: 10px;
    transition-duration: .3s;
  }
  
  .item:hover {
    background-color: #443f8e;
    border-radius: 5px;
    color: white;
  }

  .item:active {
    transform: scale(1);
  }
  
  .SidebarIcons {
    transform: none;
    padding-bottom: 4px;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    transition-duration: .2s;
    margin-bottom: 20px;
  }

  .logo img:hover {
    transform: scale(1.05);

  }
  
  .logo img {
    width: 150px;
    transition-duration: .2s;
  }
  
  .navigation hr {
    border: 1px solid #443f8e;
    width: 90%;
    border-radius: 2px;
  }

  .SidebarIcons {
    padding-top: 5px;
    color: #f5f5f5;
    vertical-align: middle;
  }
  
  .item p {
    margin: 7px 0px 7px 10px;
    padding-top: 2px;
    font-size: 16px;
  }