.main {
    display: flex;
    justify-content: space-between;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    margin: 0;
  }
  
  .navigation {
    background-color: #292974;
    width: 300px;
    height: 100%;
    border-radius: 10px;
  }
  
  .items {
    height: 100vh;
    margin-top: 20px;
    align-items: center; 
    margin-left: 20px;
  }
  
  .items :hover {
    color: white;
  }
  
  .items :active {
    transform: scale(1);
    border: none;
  }
  
  .items img {
    height: 25px;
  }
  
  .item {
    display: flex;
    align-items: center;
    margin-left: 20px;
    transition-duration: .2s;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    transition-duration: .2s;
    margin-bottom: 20px;
  }

  .logo :hover {
    transform: scale(1.05);
  }
  
  .logo img {
    width: 175px;
    transition-duration: .2s;
  }
  
  h2 {
    margin: 2px 0px 2px 20px;
  }
  
  hr {
    margin: auto;
    border: 2px solid white;
    width: 90%;
    border-radius: 2px;
  }

  .title {
    text-align: left;
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 30px;
    font-size: larger;
    font-weight: 600;
    font-family: 'Helvetica';
  }

  .SidebarIcons {
    padding-top: 5px;
    color: #ffffff;
    vertical-align: middle;
  }
  
