h2 {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.student_txt {
  display:block;
}

.modalbox {
  display: flex;
  justify-content: space-between;
}