.main {
    text-align: left;
}

.title h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.myButton {
    background-color: red;
  color: white;
}

.studenttable {
    margin-top: 10px;
    padding-top: 100px;
}

