.main {
    text-align: left;
}

.title h1 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 40px;
    line-height: .5;
    margin-bottom: 30px;
}

.myButton {
    background-color: red;
  color: white;
}

.studenttable {
    margin-top: 10px;
    padding-top: 100px;
}
